.news-item a{
    text-decoration: none;
    margin: 0 2rem;
    color: white;
    background-color: maroon;
    padding: 5px 10px;
    box-sizing: border-box;
    box-shadow: 5px 15px 20px black;

}
.news-item a:hover{
    background-color: rgb(152, 3, 3);
    transition:all 0.3s ease-in;
}
.news-item{
    margin: 2rem 0 0 4rem;
    text-align: center;
}
.footer .icon{
    text-align: center;
    margin: 2rem 0;
}
.footer .icon i{
    font-size: 2rem;
    border: 3px solid maroon;
    padding: 4px ;
    border-radius: 50%;
    margin: 1rem 2rem;
    color: maroon;
}
.footer .icon i:hover {
    background-color: maroon;
    color: white;
    border-radius: 50%;
    transition: 0.5s ease;
    border: 3px solid transparent;
}

.footer p{
    border: none;
}
.footer .copyright{
    text-align: center;
    font-size: 14px;
    color: maroon;
    margin: 1rem auto;
}
hr{
    border: 1px solid rgb(0, 0, 0);
}